@page "/information"
@model Chirp.Web.Pages.InformationPageView
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>

    <h2> @Model.GetAuthorDTO().Name Information </h2>


    <h3>Name: @Model.GetAuthorDTO().Name</h3>
    <h3>Email: @Model.GetAuthorDTO().Email</h3>
    <h3>Creation Date: @Model.GetAuthorDTO().CreationDate</h3>
    <h3>Total Cheeps sent: @Model.GetCurrentAuthorCheepCount()</h3>
    <h3>Following:</h3>

    @if (Model.Following.Any())
    {

        <ul id="messagelist" class="cheeps">
            @foreach (var author in Model.Following)
            {
                <li>
                    <p>
                        <strong>
                            <div style="display:flex;justify-content:start;align-items:center;">
                                <a href="/@author.Id">@author.Name</a>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <form method="post" asp-page-handler="Unfollow" style="display:inline;">
                                        <input type="hidden" name="followeeId" value="@author.Id" />
                                        <button type="submit">Unfollow</button>
                                    </form>
                                }
                            </div>

                        </strong>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>You are not following anyone yet.</em>
    }
    <form method="post">
        <button asp-page-handler="ForgetMe"
                onclick="return confirm('Are you sure you want to delete everything?');">
            Forget Me
        </button>
    </form>


</div>