@page "/{authorId}"
@model Chirp.Web.Pages.UserTimelineView
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var authorIdObj = HttpContext.GetRouteValue("authorId");
    var routeName = authorIdObj != null
        ? Model.GetUserName(authorIdObj.ToString())
        : "Unknown";
        }

<div>
    <h2> @Model.Author.Name's Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                bool IsFollowing = Model.Following.Any(
                    a => a.Id == cheep.AuthorId
                );
                    
                <li>
                    <p>
                        <strong>
                                <div style="display:flex;justify-content:start;align-items:center;">
                                <a href="/@cheep.AuthorId">@cheep.Author</a>

                        @if (User.Identity.IsAuthenticated)
                        {   
                                        <form method="post" asp-page-handler="ToggleFollow" style="display:inline;">
                                        <input type="hidden" name="followeeId" value="@cheep.AuthorId" />
                                            <button type="submit">@(IsFollowing ? "Unfollow" : "Follow")</button>
                                        </form>
                        }
                            </div>

                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.CreatedDate</small>
                        <div style="margin-left: 20px;">

                            <form method="post" asp-page-handler="CheepLike" style="display:inline;">
                                <input type="hidden" name="cheepId" value="@cheep.cheepId" />
                                <button type="submit">👍 Like (@cheep.Likes)</button>
                            </form>

                            <form method="post" asp-page-handler="CheepDislike" style="display:inline; margin-left:10px;">
                                <input type="hidden" name="cheepId" value="@cheep.cheepId" />
                                <button type="submit">👎 Dislike (@cheep.Dislikes)</button>
                            </form>

                        </div>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    
    <div class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <a href="/@Model.Author?page=@(Model.CurrentPage - 1)">Previous</a>
        }
        
        @if (Model.Cheeps.Count() == 32)
        {
            <a href="/@Model.Author?page=@(Model.CurrentPage + 1)">Next</a>
        }
    </div>
</div>